// Colors Palette
$color0: #fff;
$color1: #E7F6F2;
$color2: #A5C9CA;
$color3: #395B64;
$color4: #2C3333;
$color5: #000;

// Fonts Palette
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Lora:wght@400;500;600&family=Montserrat:wght@300;500;700;900&display=swap');

$font1: 'Montserrat', sans-serif;
$font2: 'Lora', serif;
$font3: 'Hind Madurai', sans-serif;